:root {
  --main-dark-green: #004d44;
  --main-light-brown: #A39161;
  --main-font: Lato, sans-serif;
  --main-font-color: #ffffff;
  --main-background: #ffffff;

  --main-content-width: 100%;
  --card-width: 100%;
  --card-margin: 20px;
  --max-content-width: 100%;

  --safe-area-inset-top   : 0px;
  --safe-area-inset-right : 0px;
  --safe-area-inset-bottom: 0px;
  --safe-area-inset-left  : 0px;

  @supports (top: env(safe-area-inset-top)){
    --safe-area-inset-top: env(safe-area-inset-top);
    --safe-area-inset-right: env(safe-area-inset-right);
    --safe-area-inset-bottom: env(safe-area-inset-bottom);
    --safe-area-inset-left: env(safe-area-inset-left);
  }
}

@media screen and (min-width: 1024px) {
  :root {
    --main-content-width: 67%;
    --card-width: 31%;
    --card-margin: 0 0 30px 0;
    --max-content-width: 975px;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  position:relative;
  background-color: var(--main-dark-green);
  font-family: var(--main-font);
  color: var(--main-font-color);
}

body {
  background-image: url("../img/background.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #004D44;
}

main {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  min-height: 100%;
}

#main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#intro {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  width: var(--main-content-width);
  max-width: var(--max-content-width);
  padding-bottom: 30px;
}

.searchbox {
  flex-basis: 100%;
  padding: 20px;
}

.intro-links {
  padding-left: 20px;
}

@media screen and (min-width: 1024px) {
  .searchbox {
    flex-basis: 60%;
  }

  .intro-links {
    flex-basis: 30%;
  }
}

h1 {
  font-size: 50px;
}

p {
  font-size: .8rem;
  line-height: 1.2rem;
}

header {
  background-color: var(--main-dark-green);
  padding-top: env(safe-area-inset-top);
  display: flex;
  justify-content: center;
}

#topbar-container {
  background-color: var(--main-dark-green);
  padding-top: env(safe-area-inset-top);
  height: 56px;
  overflow: hidden;
  transition: height 0.3s ease-out;
  display: flex;
  flex-basis: var(--main-content-width);
  justify-content: space-between;
  max-width: var(--max-content-width);
}

#topbar-container.open {
  height: 264px;
}

mwc-top-app-bar {
  --mdc-theme-primary: var(--main-dark-green);
  --mdc-theme-on-primary: #ffffff;
}

mwc-top-app-bar img {
  margin-left: 10px;
}

mwc-icon-button {
  --mdc-ripple-color: transparent;
  --mdc-ripple-hover-opacity: 0;
}

#search-button {
  background-color: var(--main-light-brown);
}

mwc-list-item {
  color: var(--main-font-color);
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 8px 0;
}

#topbar-container ul {
  margin-top: 50px;
  width: 100%;
}

#topbar-container ul li {
  padding: 16px;
  font-size: 16px;
}

@media screen and (min-width: 1024px) {
  #topbar-container ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 4;
    margin: 0;
    width: auto;
  }
}

cards-component {
  width: var(--main-content-width);
  max-width: var(--max-content-width);
}

.cards {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  background-color: #ffffff;
}

content-card {
  flex-basis: var(--card-width);
  --background-color: #F6F6F2;
  min-height: 156px;
  margin: var(--card-margin);
}

content-card img {
  width: 100%;
}

content-card a {
  font-size: 18px;
  display: block;
  text-decoration: none;
  color: #2C55A2;
}

content-card a:hover {
  text-decoration: underline;
}

content-card p {
  color: #000000;
  font-size: 16px;
}

#container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  background-color: #ffffff;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  max-width: var(--max-content-width);
  margin: 20px 0;
}
.alert {
  flex-basis: 100%;
  min-height: 115px;
  margin-bottom: 0;
}

.alert::part(body) {
  border-left: 10px solid #AE1122;
  background-color: #FFCF21;
  padding-left: 10px;
  color: #000000;
}

.alert h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

@media screen and (min-width: 1024px) {
  #cards-container {
    justify-content: space-between;
    width: 64%;
  }
}
